**THOERY QUESTIONS**

Ques 1- What are data structures, and why are they important?

Ans 1- Data structures are a way to organize data so that it can be used by a computer program or system

Why are they important?

1.  Choosing the right data structure significantly impacts the efficiency and performance of your program.
2.   Well-chosen data structures can:
3. Simplify data manipulation (adding, removing, modifying elements)
4. Optimize searching and sorting operations
5. Conserve memory usage

Ques 2- Explain the difference between mutuable and immutable data types with examples.

Ans 2- The main difference between mutable and immutable data types is that mutable data types can be changed after they are created, while immutable data types cannot:

**Mutable data types**

These data types can be modified after they are created. Examples include lists, dictionaries, and sets.

**Immutable data types**

These data types cannot be changed once they are created. Examples include strings, tuples, integers, and floats.

Ques 3-  What are the main differences between lists and tuples in Python?

Ans 3- The main differences between lists and tuples in Python are:

*  **Mutability:** Lists are mutable, meaning their elements can be changed, while
tuples are immutable, meaning their elements cannot be changed.  
* **Memory efficiency:** Tuples are more memory efficient than lists.
* **Speed:** Tuples are faster than lists, especially for looking up values.
* **Brackets:** Lists use square brackets, while tuples use round brackets.
* **Methods:** Lists support a wider range of methods for manipulating elements, such as appending, inserting, and removing. Tuples provide basic operations for retrieving information, such as the length or index of an element.
* **Data types:** Lists can store elements of different types, while tuples usually contain a sequence of heterogeneous elements.
* **Use cases:** Tuples are safer for storing constant data that should not be changed.

Ques 4- Describe how dictionaries store data.

Ans - python's dictionary allows you to store key-value pairs, and then pass the dictionary a key to quickly retrieve its corresponding value.

Ques 5- Why might you use a set instead of a list in Python?

Ans 5- Because sets is highly optimized for membership tests in phython.

Ques 6- What is a string in Python, and how is it different from a list?

Ans 6- A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Ques 7- How do tuples ensure data integrity in Python?

Ans 7- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

Ques 8- What is a hash table, and how does it relate to dictionaries in Python?

Ans 8- A hash table is a data structure that stores key-value pairs in an array format, with each value having a unique index. The hash value of a key determines which bucket to use for that data

Python dictionaries are implemented using hash tables. The keys in a Python dictionary are hashable, meaning they are generated by a hash function that produces a unique result for each value.

Ques 9- Can lists contain different data types in Python?

Ans 9- A list can also contain a mix of Python types including strings, floats, and booleans.

Ques 10- Explain why strings are immutable in Python.

Ans 10- Python strings are "immutable" which means they cannot be changed after they are created. Since strings can't be changed, we construct *new* strings as we go to represent computed values.


Ques 11 -What advantages do dictionaries offer over lists for certain tasks?

Ans 11- Dictionaries offer several advantages over lists for certain tasks, including (Fast lookups,Flexibility,Easy to read,Memory efficient,Narrow down searches).

Ques 12- Describe a scenario where using a tuple would be preferable over a list.

Ans 12- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

Ques 13-How do sets handle duplicate values in Python?

Ans 13- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

Ques 14- How does the “in” keyword work differently for lists and dictionaries?

Ans 14-The meaning is the same, but the implementation is different. Lists simply examine each object, checking for equality, so it works for your class. Sets first hash the objects, and if they don't implement hash properly, the set appears not to work.

Ques 15- Can you modify the elements of a tuple? Explain why or why not?

Ans 15- No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; unlike lists which are mutable and allow for element modification.

Ques 16- What is a nested dictionary, and give an example of its use case?

Ans 16- A nested dictionary is a dictionary that is stored as a value within another dictionary. It's a way to organize data with multiple layers, and is useful for representing information in programs

Examples (Employee records,Inventory systems,JSON data)

Ques 17- Describe the time complexity of accessing elements in a dictionary?

Ans 17- The time complexity of accessing elements in a Python dictionary is usually O(1), which means that it takes a constant amount of time to retrieve an element, regardless of the size of the dictionary.

Ques 18- In what situations are lists preferred over dictionaries?

Ans 18- If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

Ques 19- Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans 19- A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python, dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

Ques 20- Explain the difference between a list and a dictionary in terms of data retrieval.

Ans 20- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

**PRACTICAL QUESTIONS**

Ques 1- Write a code to create a string with your name and print it.

In [ ]:
#Ans 1-

name = "Bimal Sharma"
print(name)

Bimal Sharma

Ques 2- Write a code to find the length of the string "Hello World".

In [ ]:
#Ans 2-

string = "Hello World"
print(len(string))

11

Ques 3- Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
#Ans 3-

string = "Python Programming"
print(string[0:3])

Pyt

Ques 4- Write a code to convert the string "hello" to uppercase.

In [ ]:
#Ans 4-

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Ques 5- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [1]:
#Ans 5-

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Ques 6- Write a code to create a list with numbers 1 to 5 and print it.

In [2]:
#Ans 6-

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Ques 7- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [3]:
#Ans 7-

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Ques 8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [4]:
#Ans 8-

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Ques 9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [5]:
#Ans 9-

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Ques 10-  Write a code to reverse the list [10, 20, 30, 40, 50].

In [6]:
#Ans 10-

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Ques 11- Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [7]:
#Ans 11-

numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

Ques 12- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [8]:
#Ans 12-

tuple=('apple', 'banana', 'cherry')
first_element = tuple[0]
print(first_element)

apple

Ques 13- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [9]:
#Ans 13-

numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

Ques 14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [10]:
#Ans 14-

tuple = ('dog', 'cat', 'rabbit')
index = tuple.index('cat')
print(index)

1

Ques 15- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [11]:
#Ans 15-

tuple = ('apple', 'orange', 'banana')
if 'banana' in tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

Ques 16- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [12]:
#Ans 16-

numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

Ques 17- Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [13]:
#Ans 17-

numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}

Ques 18- Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [14]:
#Ans 18-

numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

Ques 19- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [15]:
#Ans 19-

tuple = ('apple', 'banana', 'cherry')
first_element = tuple[0]
print(first_element)

apple

Ques 20- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [16]:
#Ans 20-

numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

Ques 21- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
#Ans 21-

tuple = ('dog', 'cat', 'rabbit')
index = tuple.index('cat')
print(index)

1

Ques 22-Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [18]:
#Ans 22-

tuple = ('apple', 'orange', 'banana')
if 'banana' in tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

Ques 23- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [19]:
#Ans 23-

numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

Ques 24-  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [20]:
#Ans 24-

numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}